In [1]:
import pandas as pd

In [2]:
babylon = pd.read_csv('babylonbee_urls.csv', quotechar="\"")

In [3]:
onion = pd.read_csv('onion_urls_brief.csv')

In [4]:
onion = onion.drop_duplicates()

In [5]:
spoof_2020 = pd.read_csv('spoof_urls_2020.csv')

In [6]:
spoof_2021 = pd.read_csv('spoof_urls_2021.csv')

In [7]:
satire = pd.concat([babylon, onion, spoof_2020, spoof_2021])

In [8]:
wel = pd.read_csv('../data/WELFake_Dataset.csv')

In [9]:
wel = wel.dropna()

In [10]:
wel[wel['text'].str.contains('Reuters')]

,Unnamed: 0,title,text,label
11,11,"May Brexit offer would hurt, cost EU citizens ...",BRUSSELS (Reuters) - British Prime Minister Th...,0
12,12,Schumer calls on Trump to appoint official to ...,"WASHINGTON (Reuters) - Charles Schumer, the to...",0
15,15,Billionaire Odebrecht in Brazil scandal releas...,RIO DE JANEIRO/SAO PAULO (Reuters) - Billionai...,0
17,17,U.N. seeks humanitarian pause in Sanaa where s...,GENEVA (Reuters) - The United Nations called o...,0
19,19,Second judge says Clinton email setup may have...,NEW YORK (Reuters) - A second federal judge ha...,0
...,...,...,...,...
72112,72112,United States and Cuba complete deals as Trump...,HAVANA (Reuters) - The Obama administration an...,0
72120,72120,North Korea's Kim congratulates China's Xi aft...,SEOUL (Reuters) - North Korean leader Kim Jong...,0
72122,72122,Swiss stop seizing income from asylum seekers ...,ZURICH (Reuters) - Switzerland will stop seizi...,0
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0

In [11]:
fake_wel = wel[wel['label'] == 1]
real_wel = wel[wel['label'] == 0]

In [12]:
small_real = real_wel.sample(n=12500, random_state=1123456)
small_fake = fake_wel.sample(n=12500, random_state=1123456)

In [13]:
satire['label'] = 'satire'

In [14]:
small_real['label'] = 'real'

In [15]:
small_fake['label'] = 'fake'

In [16]:
small_real.rename(columns={'title' : 'Heading', 'text' : 'Body'}, inplace=True)

In [17]:
small_fake.rename(columns={'title' : 'Heading', 'text' : 'Body'}, inplace=True)

In [18]:
satire_final = satire[['Heading', 'Body', 'label']]
fake_final = small_fake[['Heading', 'Body', 'label']]
real_final = small_real[['Heading', 'Body', 'label']]

In [19]:
final_data = pd.concat([satire_final, fake_final, real_final])

In [24]:
final_data['Heading_Body'] = final_data[['Heading', 'Body']].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [26]:
final_data.to_csv('final_data.csv', index=False)