In [99]:
import pandas as pd

In [162]:
combined = pd.read_csv('unclean_data.csv')

In [163]:
combined

,Heading,Body,label,Heading_Body
0,Here Are 10 Babylon Bee Jokes Explained (Just ...,From the Atlantic to the Pacific a lot of peop...,satire,Here Are 10 Babylon Bee Jokes Explained (Just ...
1,Pete Buttigieg Says He Cannot Come Into Work A...,WASHINGTON D.C.—With catastrophic labor shorta...,satire,Pete Buttigieg Says He Cannot Come Into Work A...
2,"Instead Of Kryptonite, New LGBTQ+ Superman Wil...",BURBANK CA—The brilliant and courageous writer...,satire,"Instead Of Kryptonite, New LGBTQ+ Superman Wil..."
3,Bernie Retires As His Vision Of Making The U.S...,BURLINGTON VT—Bernie Sanders has retired as a ...,satire,Bernie Retires As His Vision Of Making The U.S...
4,Katie Couric Admits She Edited Interview To Re...,U.S.—Katie Couric has admitted to editing an i...,satire,Katie Couric Admits She Edited Interview To Re...
...,...,...,...,...
59782,U.S. Flying Bombers Above Disputed South China...,The U. S. military confirmed a military exerci...,real,U.S. Flying Bombers Above Disputed South China...
59783,Battle over Scalia’s replacement already spill...,Conservative and liberal advocacy groups are g...,real,Battle over Scalia’s replacement already spill...
59784,Trump administration to review goal of world w...,WASHINGTON (Reuters) - The Trump administratio...,real,Trump administration to review goal of world w...
59785,Strong organization helps Cruz dominate Colora...,"Colorado Springs, Colorado (CNN) Ted Cruz on S...",real,Strong organization helps Cruz dominate Colora...
59786,"As Brexit deal takes shape, Juncker to meet MEPs",BRUSSELS (Reuters) - The European Commission a...,real,"As Brexit deal takes shape, Juncker to meet ME..."

In [175]:
import re
# Convert to lowercase
combined = combined.applymap(lambda s: str(s).lower())

# Fix Contractions
contraction_dict = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not", "didn't": "did not",  "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not", "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is",  "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would", "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam", "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as", "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would", "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have", "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have", "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are", "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are",  "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is", "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have", "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have", "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have","you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have", "you're": "you are", "you've": "you have"}
contraction_dict_2 = {"ain’t": "is not", "aren’t": "are not","can’t": "cannot", "’cause": "because", "could’ve": "could have", "couldn’t": "could not", "didn’t": "did not",  "doesn’t": "does not", "don’t": "do not", "hadn’t": "had not", "hasn’t": "has not", "haven’t": "have not", "he’d": "he would","he’ll": "he will", "he’s": "he is", "how’d": "how did", "how’d’y": "how do you", "how’ll": "how will", "how’s": "how is",  "I’d": "I would", "I’d’ve": "I would have", "I’ll": "I will", "I’ll’ve": "I will have","I’m": "I am", "I’ve": "I have", "i’d": "i would", "i’d’ve": "i would have", "i’ll": "i will",  "i’ll've": "i will have","i’m": "i am", "i’ve": "i have", "isn’t": "is not", "it’d": "it would", "it’d’ve": "it would have", "it’ll": "it will", "it’ll’ve": "it will have","it’s": "it is", "let’s": "let us", "ma’am": "madam", "mayn’t": "may not", "might’ve": "might have","mightn’t": "might not","mightn’t’ve": "might not have", "must’ve": "must have", "mustn’t": "must not", "mustn’t’ve": "must not have", "needn’t": "need not", "needn’t’ve": "need not have","o’clock": "of the clock", "oughtn’t": "ought not", "oughtn’t’ve": "ought not have", "shan’t": "shall not", "sha’n’t": "shall not", "shan’t’ve": "shall not have", "she’d": "she would", "she’d’ve": "she would have", "she’ll": "she will", "she’ll’ve": "she will have", "she’s": "she is", "should’ve": "should have", "shouldn’t": "should not", "shouldn’t’ve": "should not have", "so’ve": "so have","so’s": "so as", "this’s": "this is","that’d": "that would", "that’d’ve": "that would have", "that’s": "that is", "there’d": "there would", "there’d’ve": "there would have", "there’s": "there is", "here’s": "here is","they’d": "they would", "they’d’ve": "they would have", "they’ll": "they will", "they’ll’ve": "they will have", "they’re": "they are", "they’ve": "they have", "to’ve": "to have", "wasn’t": "was not", "we’d": "we would", "we’d’ve": "we would have", "we’ll": "we will", "we’ll’ve": "we will have", "we’re": "we are", "we’ve": "we have", "weren’t": "were not", "what’ll": "what will", "what’ll’ve": "what will have", "what’re": "what are",  "what’s": "what is", "what’ve": "what have", "when’s": "when is", "when’ve": "when have", "where’d": "where did", "where’s": "where is", "where’ve": "where have", "who’ll": "who will", "who’ll’ve": "who will have", "who’s": "who is", "who’ve": "who have", "why’s": "why is", "why’ve": "why have", "will’ve": "will have", "won’t": "will not", "won’t’ve": "will not have", "would’ve": "would have", "wouldn’t": "would not", "wouldn’t’ve": "would not have", "y’all": "you all", "y’all’d": "you all would","y’all’d’ve": "you all would have","y’all’re": "you all are","y’all’ve": "you all have","you’d": "you would", "you’d’ve": "you would have", "you’ll": "you will", "you’ll’ve": "you will have", "you’re": "you are", "you’ve": "you have"}

def _get_contractions(contraction_dict):
    contraction_re = re.compile('(%s)' % '|'.join(contraction_dict.keys()))
    return contraction_dict, contraction_re

contractions, contractions_re = _get_contractions(contraction_dict)
contractions_2, contractions_re_2 = _get_contractions(contraction_dict_2)

def replace_contractions(text):
    def replace_1(match):
        return contractions[match.group(0)]
    def replace_2(match):
        return contractions_2[match.group(0)]
    clean_1 = contractions_re.sub(replace_1, text)
    clean_2 = contractions_re_2.sub(replace_2, clean_1)
    return clean_2
combined['Heading_Body'] = combined['Heading_Body'].apply(replace_contractions)
combined['Heading'] = combined['Heading'].apply(replace_contractions)
combined['Body'] = combined['Body'].apply(replace_contractions)

import string
# Remove Puncuation
def remove_punc(s):
    punc_dict = {key: ' ' for key in string.punctuation}
    punc_dict['“'] = None
    punc_dict['—'] = ' '
    punc_dict['’'] = ' '
    punc_dict['.'] = '.'
    punc_dict['.'] = '?'
    punc_dict['.'] = '!'
    table = str.maketrans(punc_dict)  # OR {key: None for key in string.punctuation}
    new_s = s.str.translate(table)
    return new_s
combined = combined.apply(remove_punc, axis=1)

In [165]:
combined

,Heading,Body,label,Heading_Body
0,here are 10 babylon bee jokes explained (just ...,from the atlantic to the pacific a lot of peop...,satire,here are 10 babylon bee jokes explained (just ...
1,pete buttigieg says he cannot come into work a...,washington d.c.—with catastrophic labor shorta...,satire,pete buttigieg says he cannot come into work a...
2,"instead of kryptonite, new lgbtq+ superman wil...",burbank ca—the brilliant and courageous writer...,satire,"instead of kryptonite, new lgbtq+ superman wil..."
3,bernie retires as his vision of making the u.s...,burlington vt—bernie sanders has retired as a ...,satire,bernie retires as his vision of making the u.s...
4,katie couric admits she edited interview to re...,u.s.—katie couric has admitted to editing an i...,satire,katie couric admits she edited interview to re...
...,...,...,...,...
59782,u.s. flying bombers above disputed south china...,the u. s. military confirmed a military exerci...,real,u.s. flying bombers above disputed south china...
59783,battle over scalia’s replacement already spill...,conservative and liberal advocacy groups are g...,real,battle over scalia’s replacement already spill...
59784,trump administration to review goal of world w...,washington (reuters) - the trump administratio...,real,trump administration to review goal of world w...
59785,strong organization helps cruz dominate colora...,"colorado springs, colorado (cnn) ted cruz on s...",real,strong organization helps cruz dominate colora...
59786,"as brexit deal takes shape, juncker to meet meps",brussels (reuters) - the european commission a...,real,"as brexit deal takes shape, juncker to meet me..."

In [166]:
import nltk

tokens = combined.copy()
tokens['token_heading'] = combined['Heading'].apply(lambda row: nltk.word_tokenize(row))

In [167]:
tokens['token_body'] = combined['Body'].apply(lambda row: nltk.word_tokenize(row))

In [168]:
tokens['token_heading_body'] = combined['Heading_Body'].apply(lambda row: nltk.word_tokenize(row))

In [169]:
tokens['heading_len'] = tokens['token_heading'].apply(lambda row: len(row))
tokens['body_len'] = tokens['token_body'].apply(lambda row: len(row))
tokens['heading_body_len'] = tokens['token_heading_body'].apply(lambda row: len(row))

In [170]:
tokens

,Heading,Body,label,Heading_Body,token_heading,token_body,token_heading_body,heading_len,body_len,heading_body_len
0,here are 10 babylon bee jokes explained (just ...,from the atlantic to the pacific a lot of peop...,satire,here are 10 babylon bee jokes explained (just ...,"[here, are, 10, babylon, bee, jokes, explained...","[from, the, atlantic, to, the, pacific, a, lot...","[here, are, 10, babylon, bee, jokes, explained...",17,459,476
1,pete buttigieg says he cannot come into work a...,washington d.c.—with catastrophic labor shorta...,satire,pete buttigieg says he cannot come into work a...,"[pete, buttigieg, says, he, can, not, come, in...","[washington, d.c.—with, catastrophic, labor, s...","[pete, buttigieg, says, he, can, not, come, in...",15,245,260
2,"instead of kryptonite, new lgbtq+ superman wil...",burbank ca—the brilliant and courageous writer...,satire,"instead of kryptonite, new lgbtq+ superman wil...","[instead, of, kryptonite, ,, new, lgbtq+, supe...","[burbank, ca—the, brilliant, and, courageous, ...","[instead, of, kryptonite, ,, new, lgbtq+, supe...",15,203,218
3,bernie retires as his vision of making the u.s...,burlington vt—bernie sanders has retired as a ...,satire,bernie retires as his vision of making the u.s...,"[bernie, retires, as, his, vision, of, making,...","[burlington, vt—bernie, sanders, has, retired,...","[bernie, retires, as, his, vision, of, making,...",16,196,212
4,katie couric admits she edited interview to re...,u.s.—katie couric has admitted to editing an i...,satire,katie couric admits she edited interview to re...,"[katie, couric, admits, she, edited, interview...","[u.s.—katie, couric, has, admitted, to, editin...","[katie, couric, admits, she, edited, interview...",18,257,275
...,...,...,...,...,...,...,...,...,...,...
59782,u.s. flying bombers above disputed south china...,the u. s. military confirmed a military exerci...,real,u.s. flying bombers above disputed south china...,"[u.s., flying, bombers, above, disputed, south...","[the, u., s., military, confirmed, a, military...","[u.s., flying, bombers, above, disputed, south...",13,601,614
59783,battle over scalia’s replacement already spill...,conservative and liberal advocacy groups are g...,real,battle over scalia’s replacement already spill...,"[battle, over, scalia, ’, s, replacement, alre...","[conservative, and, liberal, advocacy, groups,...","[battle, over, scalia, ’, s, replacement, alre...",11,1300,1311
59784,trump administration to review goal of world w...,washington (reuters) - the trump administratio...,real,trump administration to review goal of world w...,"[trump, administration, to, review, goal, of, ...","[washington, (, reuters, ), -, the, trump, adm...","[trump, administration, to, review, goal, of, ...",12,716,728
59785,strong organization helps cruz dominate colora...,"colorado springs, colorado (cnn) ted cruz on s...",real,strong organization helps cruz dominate colora...,"[strong, organization, helps, cruz, dominate, ...","[colorado, springs, ,, colorado, (, cnn, ), te...","[strong, organization, helps, cruz, dominate, ...",8,2345,2353
59786,"as brexit deal takes shape, juncker to meet meps",brussels (reuters) - the european commission a...,real,"as brexit deal takes shape, juncker to meet me...","[as, brexit, deal, takes, shape, ,, juncker, t...","[brussels, (, reuters, ), -, the, european, co...","[as, brexit, deal, takes, shape, ,, juncker, t...",10,876,886

In [172]:
tokens['body_len'].describe()

count    59787.000000
mean       500.620770
std        598.611684
min          1.000000
25%        204.000000
50%        328.000000
75%        578.000000
max      19837.000000
Name: body_len, dtype: float64

In [173]:
tokens['body_len'].mode()

0    201
dtype: int64

In [174]:
tokens['heading_len'].describe()

count    59787.000000
mean        13.362838
std          5.124816
min          1.000000
25%         10.000000
50%         13.000000
75%         16.000000
max         68.000000
Name: heading_len, dtype: float64

In [50]:
tokens['heading_len'].mode()

0    10
dtype: int64

In [12]:
satire = tokens[tokens.label == 'satire']

In [13]:
satire['heading_len'].describe()

count    19929.000000
mean        11.625571
std          4.284775
min          1.000000
25%          9.000000
50%         11.000000
75%         14.000000
max         67.000000
Name: heading_len, dtype: float64

In [53]:
satire['heading_len'].mode()

0    11
dtype: int64

In [14]:
satire['body_len'].describe()

count    19929.000000
mean       241.889357
std        150.909676
min          1.000000
25%        181.000000
50%        217.000000
75%        264.000000
max       8514.000000
Name: body_len, dtype: float64

In [54]:
satire['body_len'].mode()

0    198
1    201
dtype: int64

In [15]:
real = tokens[tokens.label == 'real']

In [16]:
real['heading_len'].describe()

count    19929.000000
mean        11.222540
std          2.769443
min          3.000000
25%          9.000000
50%         11.000000
75%         13.000000
max         30.000000
Name: heading_len, dtype: float64

In [55]:
real['heading_len'].mode()

0    10
dtype: int64

In [57]:
real['body_len'].describe()

count    19929.000000
mean       613.114356
std        592.724712
min          7.000000
25%        252.000000
50%        452.000000
75%        835.000000
max      13174.000000
Name: body_len, dtype: float64

In [58]:
real['body_len'].mode()

0    74
1    83
2    91
dtype: int64

In [18]:
fake = tokens[tokens.label == 'fake']

In [19]:
fake['heading_len'].describe()

count    19929.000000
mean        14.262984
std          5.162041
min          1.000000
25%         11.000000
50%         14.000000
75%         17.000000
max         61.000000
Name: heading_len, dtype: float64

In [59]:
fake['heading_len'].mode()

0    13
dtype: int64

In [20]:
fake['body_len'].describe()

count    19929.000000
mean       553.858197
std        681.165531
min          1.000000
25%        253.000000
50%        399.000000
75%        611.000000
max      18537.000000
Name: body_len, dtype: float64

In [61]:
fake['body_len'].mode()

0    378
dtype: int64

In [21]:
from nltk.tokenize import sent_tokenize

In [105]:
sentences = combined.copy()
sentences['body_sentences'] = sentences['Body'].apply(lambda x: sent_tokenize(x))

In [106]:
sentences['num_sentences'] = sentences['body_sentences'].apply(len)

In [107]:
sentences['num_sentences'].describe()

count    59787.000000
mean        19.443073
std         27.904780
min          1.000000
25%          5.000000
50%         11.000000
75%         22.000000
max        930.000000
Name: num_sentences, dtype: float64

In [108]:
sentences['num_sentences'].mode()

0    4
dtype: int64

In [123]:
real_sentences = sentences[sentences.label=='real']

In [124]:
real_sentences['num_sentences'].describe()

count    19929.000000
mean        30.643936
std         34.661338
min          1.000000
25%         11.000000
50%         20.000000
75%         39.000000
max        809.000000
Name: num_sentences, dtype: float64

In [125]:
real_sentences['num_sentences'].mode()

0    4
dtype: int64

In [126]:
fake_sentences = sentences[sentences.label=='fake']

In [127]:
fake_sentences['num_sentences'].describe()

count    19929.000000
mean        20.368408
std         28.506518
min          1.000000
25%          8.000000
50%         14.000000
75%         23.000000
max        930.000000
Name: num_sentences, dtype: float64

In [128]:
fake_sentences['num_sentences'].mode()

0    9
dtype: int64

In [129]:
satire_sentences = sentences[sentences.label=='satire']

In [130]:
satire_sentences['num_sentences'].describe()

count    19929.000000
mean         7.316875
std          6.978856
min          1.000000
25%          4.000000
50%          6.000000
75%          9.000000
max        243.000000
Name: num_sentences, dtype: float64

In [131]:
satire_sentences['num_sentences'].mode()

0    4
dtype: int64

In [151]:
def words_in_sentences(t):
    count = [len(sentence.split()) for sentence in t]
    return count

sentences['words_in_sent'] = sentences['body_sentences'].apply(lambda x: words_in_sentences(x))
real_sentences['words_in_sent'] = real_sentences['body_sentences'].apply(lambda x: words_in_sentences(x))
fake_sentences['words_in_sent'] = fake_sentences['body_sentences'].apply(lambda x: words_in_sentences(x))
satire_sentences['words_in_sent'] = satire_sentences['body_sentences'].apply(lambda x: words_in_sentences(x))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [152]:
flat_list = [item for sublist in sentences['words_in_sent'] for item in sublist]

In [153]:
pd.Series(flat_list).describe()

count    1.162443e+06
mean     2.324702e+01
std      2.145330e+01
min      1.000000e+00
25%      1.000000e+01
50%      1.900000e+01
75%      3.000000e+01
max      1.347000e+03
dtype: float64

In [154]:
pd.Series(flat_list).mode()

0    1
dtype: int64

In [155]:
real_word_in_sent = [item for sublist in real_sentences['words_in_sent'] for item in sublist]
satire_word_in_sent = [item for sublist in satire_sentences['words_in_sent'] for item in sublist]
fake_word_in_sent = [item for sublist in fake_sentences['words_in_sent'] for item in sublist]

In [156]:
pd.Series(real_word_in_sent).describe()

count    610703.000000
mean         19.171851
std          13.191994
min           1.000000
25%           9.000000
50%          17.000000
75%          27.000000
max         367.000000
dtype: float64

In [157]:
pd.Series(real_word_in_sent).mode()

0    1
dtype: int64

In [158]:
pd.Series(satire_word_in_sent).describe()

count    145818.000000
mean         31.897262
std          32.727136
min           1.000000
25%          11.000000
50%          23.000000
75%          41.000000
max         585.000000
dtype: float64

In [159]:
pd.Series(satire_word_in_sent).mode()

0    8
dtype: int64

In [160]:
pd.Series(fake_word_in_sent).describe()

count    405922.000000
mean         26.270638
std          24.706755
min           1.000000
25%          12.000000
50%          21.000000
75%          33.000000
max        1347.000000
dtype: float64

In [161]:
pd.Series(fake_word_in_sent).mode()

0    16
dtype: int64

In [45]:
from collections import Counter
counter_all = Counter()
for body in combined.Heading_Body:
    #t = [word for word in body.split() if not word in stopwords.words()]
    counter_all.update(body.split())

In [26]:
from collections import Counter
counter_fake = Counter()
for body in fake.Heading_Body:
    counter_fake.update(body.split())

In [27]:
counter_real = Counter()
for body in real.Heading_Body:
    counter_real.update(body.split())

In [28]:
counter_satire = Counter()
for body in satire.Heading_Body:
    counter_satire.update(body.split())

In [29]:
print(len(Counter({k: c for k, c in counter_all.items() if c >= 3})))

115451

In [30]:
print(len(Counter({k: c for k, c in counter_fake.items() if c >= 3})))

70425

In [31]:
print(len(Counter({k: c for k, c in counter_real.items() if c >= 3})))

67529

In [32]:
print(len(Counter({k: c for k, c in counter_satire.items() if c >= 3})))

50262

In [33]:
counter_all.most_common(20)

[('the', 1504546),
 ('to', 777004),
 ('of', 683687),
 ('and', 625665),
 ('a', 616204),
 ('in', 509132),
 ('that', 370881),
 ('is', 315021),
 ('s', 254894),
 ('for', 251999),
 ('on', 245276),
 ('it', 195796),
 ('he', 194878),
 ('with', 177004),
 ('was', 174668),
 ('as', 165374),
 ('not', 164359),
 ('his', 141815),
 ('trump', 140474),
 ('are', 135415)]

In [34]:
counter_fake.most_common(20)

[('the', 594480),
 ('to', 306638),
 ('of', 274709),
 ('and', 254794),
 ('a', 220045),
 ('in', 188156),
 ('that', 152062),
 ('is', 140118),
 ('s', 108984),
 ('for', 98639),
 ('on', 84871),
 ('it', 81432),
 ('with', 67691),
 ('as', 65181),
 ('was', 64936),
 ('he', 64676),
 ('trump', 62004),
 ('not', 60743),
 ('this', 60679),
 ('are', 59463)]

In [35]:
counter_real.most_common(20)

[('the', 676694),
 ('to', 331336),
 ('of', 295095),
 ('a', 283478),
 ('and', 265254),
 ('in', 249116),
 ('that', 146287),
 ('on', 125206),
 ('is', 115824),
 ('s', 115656),
 ('for', 111914),
 ('he', 88701),
 ('said', 79713),
 ('with', 77440),
 ('it', 77279),
 ('”', 76866),
 ('was', 76491),
 ('as', 70392),
 ('not', 69208),
 ('trump', 63206)]

In [36]:
counter_satire.most_common(20)

[('the', 233372),
 ('to', 139030),
 ('of', 113883),
 ('a', 112681),
 ('and', 105617),
 ('that', 72532),
 ('in', 71860),
 ('is', 59079),
 ('he', 41501),
 ('for', 41446),
 ('it', 37085),
 ('on', 35199),
 ('i', 34833),
 ('not', 34408),
 ('his', 33405),
 ('was', 33241),
 ('with', 31873),
 ('s', 30254),
 ('as', 29801),
 ('have', 26952)]

In [37]:
from nltk.corpus import stopwords

In [38]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/darbycobb/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [47]:
counter_all_stop = {k : c for k,c in counter_all.items() if not k in stopwords.words()}

In [48]:
counter_fake_stop = {k : c for k,c in counter_fake.items() if not k in stopwords.words()}

In [177]:
counter_real_stop = {k : c for k,c in counter_real.items() if not k in stopwords.words()}

In [46]:
counter_satire_stop = {k : c for k,c in counter_satire.items() if k not in stopwords.words()}

In [176]:
Counter(counter_satire_stop).most_common(10)

[('said', 20798),
 ('trump', 15264),
 ('would', 13356),
 ('like', 11931),
 ('new', 11205),
 ('time', 10414),
 ('people', 9608),
 ('president', 7905),
 ('get', 7863),
 ('could', 7485)]

In [178]:
Counter(counter_real_stop).most_common(10)

[('said', 79713),
 ('”', 76866),
 ('trump', 63206),
 ('would', 37826),
 ('mr.', 36817),
 ('president', 28395),
 ('new', 28298),
 ('u.s.', 27950),
 ('said.', 25850),
 ('people', 22553)]

In [179]:
Counter(counter_fake_stop).most_common(10)

[('trump', 62004),
 ('people', 25746),
 ('would', 25705),
 ('clinton', 25458),
 ('said', 22668),
 ('president', 20709),
 ('us', 19486),
 ('hillary', 19330),
 ('like', 17805),
 ('new', 16686)]